Source: feroxbuster
Section: misc
Priority: optional
Maintainer: Kali Developers <devel@kali.org>
Uploaders: Benjamin 'epi' Risher <epibar052@gmail.com>
Build-Depends: 
    debhelper-compat (= 13),
    cargo,
    help2man
Standards-Version: 4.5.1
Homepage: https://github.com/epi052/feroxbuster
Vcs-Browser: https://gitlab.com/kalilinux/packages/feroxbuster
Vcs-Git: https://gitlab.com/kalilinux/packages/feroxbuster.git
Rules-Requires-Root: no

Package: feroxbuster
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, fonts-noto-color-emoji
Description: A fast, simple, recursive content discovery tool written in Rust.
  feroxbuster is a tool designed to perform Forced Browsing.
  Forced browsing is an attack where the aim is to enumerate and 
  access resources that are not referenced by the web application, 
  but are still accessible by an attacker.
  feroxbuster uses brute force combined with a wordlist to search 
  for unlinked content in target directories. These resources may 
  store sensitive information about web applications and operational 
  systems, such as source code, credentials, internal network 
  addressing, etc...
  This attack is also known as Predictable Resource Location, File 
  Enumeration, Directory Enumeration, and Resource Enumeration.
